# Unprivileged sshd. Listen on 2222 until root installs openssh-server on :22.
Port 2222
ListenAddress 0.0.0.0
ListenAddress ::
# HostKey/PidFile: passed on the sshd-user.service command line (%h is systemd home).
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
UsePAM no
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_* COLORTERM TERM
PermitUserEnvironment yes
AllowTcpForwarding yes
ClientAliveInterval 30
ClientAliveCountMax 3
Subsystem sftp internal-sftp
